<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id='{{ site.google_analytics }}'"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
<!-- Global site tag (gtag.js) - mouseflow track  -->
<script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/f949d53b-c02b-4fa0-a73c-a4b2df3d1be1.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
</script>
